<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/post.css">
    <link rel="stylesheet" href="../../../css/comments.css">
    <!-- <link rel="stylesheet" href="../../../css/pages.css"> -->
    <link rel="stylesheet" href="../../../css/less.css">
    <%- include ../../../_includes/_head -%>
    <%- include ../../../helpers.ejs %>
  </head>
  <body>
    <%# EDIT THE THEME %>
    <% var path = public.post.neuroscience._data %>
    <div class="body-container start-margin">
      <div class="centered">
        <div class="parent-card larger">
          <a href="/<%= parent() %>">
            <div
              class="parent-img"
              style="background:
                linear-gradient(
                  rgba(255, 255, 255, 0.5),
                  rgba(255, 255, 255, 0.5)),
                url('../../../assets/<%= path[post()].image %>');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
              ">
            </div>
            <span><%= path[post()].title %></span></a>
        </div>
        <div class="page-body">
        <%- yield %>

        <div class=""></div>

        <%- include ../../../_includes/_comment-twitter %>

        <div class="form comments">
          <div class="level-block">
            <div class="comment-block answer">
            <% for (var i = 0; i < sources.length; i++) { %>
              <div class="answer-wrapper">
                <span class="answer-ref"><%= sources[i].text %></span>
                <a href="<%= sources[i].url %>" class="source-link" target="_blank"><%= sources[i].title %></a>
              </div>
            <% } %>
            </div>
          </div>
        </div>

<!--
        URL <%= post() %><br>
        TITLE
        <% var path = public.post.neuroscience._data %>
        <%= path[post()].title %><br>
        THEME <%= theme() %><br>
 -->
 <!--
        include a js on load
        get every h2 tag content
        in a certain class div
        take first 30 chars
        and build urls with it
        wrap every h2 element in an anchor
-->

        <div class="form contact-me">
          <span class="section-block">Need some help? Please, speak out.</span>
          <div class="form auth">
            <a href="mailto:inbox@aiice2.com?subject=help%20me%20remember%20this&body=The note itself. URL alice-comment-page.html %0D%0ABreathing through the nose helps warm and humidify inspired air before it reaches the delicate lungs.%0D%0ANew%20line" class="action-btn"><span>&check;</span>Help me remember this</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
