<!-- index HTML keeps here -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="SNCMSXtYoSqKAlyxoRRHK-cUb4dYJJd8pgZsxBRajPU" />

    <title><%= title %></title>
    <%- include ../_includes/_head %>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/less.css" />
  </head>
  <body>
    <% include ../_includes/_menu %>
    <div id="feed" class="start-margin">
      <div class="centered">
        <%- include ../_includes-ru/_nav %>
        <%- include ../_includes-ru/_intro %>
        <%- yield %>
      </div>
    </div>
  </body>
</html>
