<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>
    </title>
    <%- include _includes/_head %>
    <script type="text/javascript" src= "/helpers.js"></script>
  </head>
  <body>
    <div class="centered start-margin">
      <% if(current.source !== 'index') { %>
        <h1>
          <%= title %>
          <span>
            <%= theme %>
          </span>
        </h1>
        <% if(published || environment == "production") { %>
          <%- yield %>
        <% } %>
        <div id="footer">
          <p><b>footer in layout</b></p>
        </div>
      <% } else { %>
        <span>LOL, empty index</span>
      <% } %>
    </div>
  </body>
</html>
