<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>
    </title>
    <%- include _includes/_head %>
    <script type="text/javascript" src= "/helpers.js"></script>
  </head>
  <body>
    <div class="centered start-margin">
      <h1>
        <%= title %>
        <span>
          <%= theme %>
        </span>
      </h1>
      <%- yield %>
      <div id="footer">
        <p><b>footer in layout</b></p>
      </div>
    </div>
  </body>
</html>
