| To add a new post preview to the feed, I add a new var with 3 preview notes in feed.jade.
| I add a title to var titles and a url to var urls (to the beginning of each array).
| Then I need to replicate a function that generates the 3 previews, with the new var name.
| First one in the code is the newest to show.

include feed

br
br

//- show a list of jade files
for file in public.post.neuroscience._contents
  a(href="post/#{file}") mew
  br

//-
  mixin loop
    &thinsp;&thinsp;
    span.tag.tag-title.inline-title= urls[index]
    //span.tag.tag-title.inline-title some value

- var counter = 0
each note in psot.h2
  a(href= "post/#{themes[counter]}/#{urls[counter]}").note-wrapper
    h2= note
      &thinsp;&thinsp;
      span.tag.tag-title.inline-title= titles[counter]

- counter += 1
each note in mews.h2
  a(href= "post/#{themes[counter]}/#{urls[counter]}").note-wrapper
    h2= note
      &thinsp;&thinsp;
      span.tag.tag-title.inline-title= titles[counter]

- counter += 1
each note in psottoo.h2
  a(href= "post/#{themes[counter]}/#{urls[counter]}").note-wrapper
    h2= note
      &thinsp;&thinsp;
      span.tag.tag-title.inline-title= titles[counter]



//- to show all notes in one specific post, psot.jade in Neuroscience
//- bag (or var postname) is a variable that became available after including psot.jade
//-
  each item in titles
    each note in bag
      a(href= "post/psot").note-wrapper
        h2= note.h2
          &thinsp;&thinsp;
          span.tag.tag-title.inline-title= item

p
  | I may pull the themes titles with _current<br>
  | Also, may use a function that creates an array from every line in jade, starting with h2 ?
br

for key, value in public.post.neuroscience._data
  if key.lang == "en"
    a(href=[value])
      = key.title + [' | ' + value]
      br

br
br

p How do I use the list of files that I can get with _CONTENT ?
p may be I could pull the titles into a var from the previous loop
