<% if (parent !== "personal") { %>
  <h1>
    <%= title %>&thinsp;&thinsp;<wbr><a href="../../theme/<%= path %>" class="post-cat"><span class="tag-theme"><span class="muted">опубликовано в теме</span> <%= theme %></span></a>
  </h1>
  <p class="introduction"><b>Alice:</b> <%- intro %>
    <a href="<%= current.source.slice(0,-3) %>" class="no-break lang">Также на английском &#9872;</a></p>
  <div class="post-tags">
    <p class="introduction tags"><b>О чём этот пост:</b></p>
    <% for (var i = 0; i < tags.length; i++) { %><span class="tag tag-similar"><%= tags[i] %></span><% } %>
  </div>
<% } else { %>
  <h1>
    <%= title %>&thinsp;&thinsp;<wbr><a href="../../theme/<%= path %>" class="post-cat"><span class="tag-theme"><%= theme %></span></a>
  </h1>
  <p class="introduction"><%- intro %>
    <a href="<%= current.source.slice(0,-3) %>" class="no-break lang">Также на английском &#9872;</a></p>
  <div class="post-tags">
    <% for (var i = 0; i < tags.length; i++) { %><span class="tag tag-similar"><%= tags[i] %></span><% } %>
  </div>
<% } %>
