<div class="source-card-wrapper">
  <a href="<%= originURL %>" target="_blank" class="source-link">
    <% if (video) { %>
    <label class="video-card">
      <div class="source-img-card"
        style="background:
          linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
          url('../../assets/<%= image %>');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        ">
      </div>
    </label>

    <% } else { %>
    <div class="source-img-card"
      style="background:
        linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)),
        url('../../assets/<%= image %>');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      ">
    </div>
    <% } %>
  </a>
  <div class="source-card">
    <h2 class="unit">
      <%= originTitle %>
    </h2>
    <a href="<%= originURL %>" target="_blank"><span><%= originDomain %></span></a>
  </div>
</div>
