<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../../css/reset.css">
    <%- include ../../_includes/_head -%>
    <%- include ../../_includes/_post-css %>
  </head>
  <body>
  <% if(environment !== "production") { %>
    <div class="body-container start-margin">
      <div class="fixed-bar">
        <a href="#top"><div class="bar-wrapper"><span class="title-bar"><%= title %></span><span class="top-icon">&#10141;</span></div></a>
      </div>
      <div class="centered">
      <% include ../../_includes/_post-header %>

      <%# If the post notes have single origin then show source card %>

      <% if (origin == "single") { %>
        <% include ../../_includes/_post-card %>
      <% } %>

        <div class="page-body">
          <%- yield %>
        </div>

        <div class="remember">
          <a href="<%- mailtoStr() %>" class="action-btn check"><span>&check;</span>Help me remember this</a>
          <% include ../../_includes/_post-print %>
        </div>
        <% include ../../_includes/_post-next %>
      </div>
    </div>
  <% } else { %>
    <div class="body-container start-margin">
      <div class="centered">
        <h1>This note is personal</h1>
        <a href="/post">Here are all the public posts</a>
      </div>
    </div>
  <% } %>
  </body>
</html>
