<% var data = public.post.neuroscience._data %>
<% var posts = [] %>
<% var titles = [] %>

<% for (var url in data) { %>
  <% var pref = data[url] %>
  <% if (pref.date && pref.lang == "en") { %>
    <% pref.url = url %>
    <% posts.push(pref.url) %>
    <% titles.push(pref.title) %>
  <% } %>
<% } %>

<% for (var i = 0; i < posts.length; i++) { %>
  <% if (posts[i] == current.source) { %>
    <% if ( i + 1 !== posts.length ) { %>
    <div class="form subscribe next">
      <a href="<%= posts[i+1] %>"><b>NEXT: </b><%= titles[i+1] %></a>
    </div>
    <% } else { %>
    <div class="form last-post">
      <p class="unit">Looks like it's the oldest post in <%= theme %>.</p>
      <div class="all-themes">
        <% var data = public.theme._data %>
        <% var themes = [] %>
        <% var one %>
        <% for (item in data) { %>
          <% if (data[item].lang !== "ru" && data[item].index !== true && item.toLowerCase() !== theme.toLowerCase()) { %>
            <% themes.push(item) %>
          <% } %>
        <% } %>
        <% one = themes[Math.floor(Math.random() * themes.length)] %>
        <a href="../../theme/<%= one %>"><span class="tag tag-page">Learn more about <%= one.charAt(0).toUpperCase() + one.substring(1) %></span></a>
        <a href="../../theme/"><span class="tag tag-page">All themes in this blog</span></a>
      </div>
    </div>
    <% } %>
  <% } %>
<% } %>
