
  <% var data = public.post.neuroscience._data %>
  <% var posts = [] %>

  <% for (var url in data) { %>
    <% if (data[url].date && data[url].lang == "en" ) { %>
      <% posts.push(url) %>
      <%- data[url].date %>
      <%- data[url].lang %>
      <%- data[url].title %><br>
    <% } %>
  <% } %>
  <br>
  <%- posts.join(', <br>') %>
  <br>
  <br>
  <% for (var i = 0; i < posts.length; i++) { %>
    <% var next = posts[i + 1] %>
    <!-- <%= i + 1 %> -->
    <!-- <%= posts.length %> -->

    <% for (var name in data) { %>
    <% if (posts[i] == current.source && (i + 1) !== posts.length ) { %>
      <div class="form subscribe next">
        <a href="<%= posts[i] %>"><b>CURRENT: </b><%= posts[i] %></a>

        <a href="<%= next %>"><b>NEXT: </b><%- data[name].title %></a>

      </div>
      <% } %>
    <% } %>
  <% } %>
