<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/post.css">
    <link rel="stylesheet" href="../../../css/comments.css">
    <!-- <link rel="stylesheet" href="../../../css/pages.css"> -->
    <link rel="stylesheet" href="../../../css/less.css">
    <%- include ../../../_includes/_head -%>
  </head>
  <body>
    <div class="body-container start-margin">
      <div class="centered">
        <div class="page-body">
        <%- yield %>
        aiice2.com/<% for (i = 0; i < current.path.length; i++) { %><%= current.path[i] + '/' %><% } %>
        <a href="https://twitter.com/intent/tweet?hashtags=neuroscience&text=<%= body %>" class="twitter-share-button" data-show-count="false" data-size="large" target="_blank">Tweet</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </body>
</html>
