<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/post.css">
    <link rel="stylesheet" href="../../../css/comments.css">
    <!-- <link rel="stylesheet" href="../../../css/pages.css"> -->
    <link rel="stylesheet" href="../../../css/less.css">
    <%- include ../../../_includes/_head -%>
  </head>
  <body>
    <%# EDIT THE THEME %>
    <% var path = public.post.neuroscience._data %>
    <div class="body-container start-margin">
      <div class="centered">
        <div class="parent-card larger">
          <a href="/<%= getParent() %>">
            <div
              class="parent-img"
              style="background:
                linear-gradient(
                  rgba(255, 255, 255, 0.5),
                  rgba(255, 255, 255, 0.5)),
                url('../../../assets/<%= path[getPost()].image %>');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
              ">
            </div>
            <span><%= path[getPost()].title %></span></a>
        </div>

        <div class="page-body">

        <%- include ../../../_includes/_comment-remember %>
        <%- yield %>
        <%- include ../../../_includes/_comment-twitter %>

          <div class="form comments">
            <div class="level-block">
              <div class="comment-block answer">
              <% for (var i = 0; i < sources.length; i++) { %>
                <div class="answer-wrapper">
                  <span class="answer-ref"><%= sources[i].text %></span>
                  <a href="<%= sources[i].url %>" class="source-link" target="_blank"><%= sources[i].title %></a>
                </div>
              <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
