<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>
    </title>
    <%- include ../_includes/_head %>
    <script type="text/javascript" src= "/helpers.js"></script>
  </head>
  <body>
    <div class="centered start-margin">
      <% if(current.source !== 'index') { %>
        <h1>
          <%= title %> - <span><%= theme %></span>
        </h1>
        <%_ for (var i = 0; i < tags.length; i++) { _%>
        <span><%= tags[i] %></span>
        <%_ } _%>

        If ref is single then show card.
        <% if (origin == "single") { %>
          <% include ../_includes/_card %>
        <% } %>

        <%# if(environment == "production") { %>
        <%- yield %>
        <%# } %>
        <div class="print-ctrl">
          <a href="#0" >
            <input type="submit" value="print notes" class="button chimp-input print-btn">
          </a>
        </div>
        <div id="about-alice" class="outro" v-once>
          <p><b>About Alice</b></p>
          <p><b>The thing is, human memory is limited.</b> Who wouldn't love some extra help here! We carry paper pads in our pockets and backpacks, lined with our daily plans, to-do's and reminder notes. And I do, too.</p>
          <p><b>'Alice, too'</b> is a blog for capturing short notes that may come helpful later. The notes make more sense when they go along with a reference, so I keep quite a few. Hope, you're finding some of them useful. If you'd like to see what comes next, please subscribe
          <!-- <a href="#0">subscribe</a>  -->
          for updates.</p>
          <p><a href="mailto:inbox@aiice2.com" class="no-wrap">Send me an email</a> if you need to reach me.
          </p>
        </div>
        <div id="mailchimp">
          <a href="http://tumblr.us14.list-manage.com/subscribe?u=883863466a386f508af7858e4&id=cc882b617c" target="_blank">
            <input type="submit" value="get updates" name="subscribe" class="button chimp-input chimp-ext">
          </a>
        </div>
      <% } else { %>
        <span>LOL, empty index</span>
        <p>need to fix it somehow and pull templates</p>
        <p>so far, /post/index and /index</p>
      <% } %>
    </div>
  </body>
</html>
