<!-- all posts HTML template -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../../css/reset.css">
    <%- include ../_includes/_head %>
    <%- include ../_includes/_post-css %>
  </head>
  <body>
    <div id="feed" class="start-margin">
      <div class="centered">
      <%- yield %>
      <% if (current.source === "ru") { %>
        <% for (var i = 0, l = themesRU.length; i < l; i++) { %>
        <a href="../theme/<%= themesRUpath[i] %>">
          <span class="tag tag-page"><%= themesRU[i] %></span>
          </a>
        <% } %>
      <% } else { %>
        <% for (var i = 0, l = themesEN.length; i < l; i++) { %>
        <a href="../theme/<%= themesEN[i] %>">
          <span class="tag tag-page"><%= themesEN[i] %></span>
        </a>
        <% } %>
        <h2><a href="<%= parentURL() + '/ru' %>" class="">Also in Russian &#9872;</a></h2>
      <% } %>
      </div>
    </div>
  </body>
</html>
