<!-- all posts HTML template -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <%- include ../_includes/_head %>
    <%- include ../_includes/_post-css %>
  </head>
  <body>
    <% include ../_includes/_menu %>
    <div class="body-container start-margin">
      <div class="centered">
      <% if (current.source === "ru") { %>
        <%- include ../_includes-ru/_nav %>
      <% } else { %>
        <%- include ../_includes/_nav %>
      <% } %>
      <%- yield %>

      <% if (current.source === "ru") { %>
        <% for (var i = 0, l = postsRU.length; i < l; i++) { %>
          <a href="/post/<%= postsRUthemes[i] %>/<%= postsRUpath[i] %>"><%-
        %><h2><%= postsRU[i] %></h2><%-
        %></a>
        <% } %>
      <% } else { %>
        <% for (var i = 0, l = postsEN.length; i < l; i++) { %>
          <a href="/post/<%= postsENthemes[i] %>/<%= postsENpath[i] %>"><%-
        %><h2><%= postsEN[i] %></h2><%-
        %></a>
        <% } %>
      <% } %>


      <% if (current.source === "ru") { %>
        <% for (var i = 0, l = themesRU.length; i < l; i++) { %><%
      %><a href="/theme/<%= themesRUpath[i] %>"><%
        %><span class="tag tag-page"><%= themesRU[i] %></span><%
      %></a><%
      %><% } %>
        <h2><a href="<%= '/' + parent %>" class="">На английском &#9872;</a></h2>
      <% } else { %>
      <% for (var i = 0, l = themesEN.length; i < l; i++) { %><%
      %><a href="/theme/<%= themesEN[i] %>"><%
        %><span class="tag tag-page"><%= themesEN[i] %></span><%
      %></a><%
    %><% } %>
        <h2><a href="ru" class="">Also in Russian &#9872;</a></h2>
      <% } %>
      </div>
    </div>
  </body>
</html>
