<% var data = public.post.neuroscience._data %>

<% for (var url in data) { %>
  <%= url %>
  <p>this slug is the only value I can get out of _data JSON in EJS</p>
<% } %>


<%# how to get post titles in a folder %>

<% var folder = public.post.neuroscience._contents %>
<% for (var i in folder) { %>
  <% var file = folder[i] %>
  <a href="<%= file %>"><%= file %></a>
  <br>
<% } %>


%# how to get post urls and attributes from comments level

URL <%= getPost() %><br>
TITLE
<% var path = public.post.neuroscience._data %>
<%= path[getPost()].title %><br>
THEME <%= getTheme() %><br>


<%# go one level up and delete -ref suffix %>

<% var upper = current.path.length - 1 %>
<% var parent = [] %>

<% for (i = 0; i < upper; i++) { %>
  <% if (i !== upper - 1) { %>
    <% parent[i] = current.path[i] + '/'  %>
    <%= parent[i] %>
  <% } else { %>
    <%= parent[i] = current.path[i].slice(0,-4) %>
  <% } %>
<% } %>


<%# WORKING next link + title %>

<% var data = public.post.neuroscience._data %>
<% var posts = [] %>
<% var titles = [] %>

<% for (var url in data) { %>
  <% var pref = data[url] %>
  <% if (pref.date && pref.lang == "en") { %>
    <% pref.url = url %>
    <% posts.push(pref.url) %>
    <% titles.push(pref.title) %>
  <% } %>
<% } %>

<% for (var i = 0; i < posts.length; i++) { %>
  <% if (posts[i] == current.source) { %>
    <% if ( i + 1 !== posts.length ) { %>
    <div class="form subscribe next">
      <a href="<%= posts[i+1] %>"><b>NEXT: </b><%= titles[i+1] %></a>
    </div>
    <% } else { %>
      <div class="all-themes">
        <% for (var theme in public.theme._data) { %><% var pref = public.theme._data %><% if (pref[theme].lang !== "ru" && pref[theme].index !== true && theme !== "neuroscience") { %><a href="/theme/<%= theme.toLowerCase() %>"><span class="tag tag-page"><%= theme.charAt(0).toUpperCase() + theme.substring(1) %></span></a><% } %><% } %>
      </div>
    <% } %>
  <% } %>
<% } %>



<%# push json object names into an array %>

<% var posts = [] %>

<% for (var url in data) { %>
  <% if (data[url].date && data[url].lang == "en" ) { %>
    <% posts.push(url) %>
    <%- data[url].date %>
    <%- data[url].lang %>
    <%- data[url].title %><br>
  <% } %>
<% } %>
<br>
<%- posts.join(', <br>') %>
<br>
<br>
<% for (var i = 0; i < posts.length; i++) { %>
  <% var next = i + 1 %>
  <%# posts[next] %>
  <%= posts[i] %>
  <br>
<% } %>

<% for (var i = 0; i < posts.length; i++) { %>
  <% var next = posts[i + 1] %>
  <%= i + 1 %>
  <%= posts.length %>
<% } %>


<%# show next, older post %>

<% if (posts[i] == current.source && (i + 1) !== posts.length ) { %>
    <div class="form subscribe next">
      <a href="<%= posts[i] %>"><b>CURRENT: </b><%= posts[i] %></a>
      <a href="<%= next %>"><b>NEXT: </b><%= next %></a>
      <br>
    </div>
  <% } %>
<% } %>
